@charset "utf-8";
/* CSS Document */
html, body {
	position: relative;
	z-index: 1;
	}
	.top-line{
		position: relative;
		z-index: 2;
		}
		.top-line-inner{
			position: relative;
			z-index: 3;
			}

.main-menu{
    //width: 99.9%;
    //text-align-last: justify;
	}

	.main-menu li{
	    //display: inline;
	    //padding-bottom: 17px;
		}

	.main-menu li.helper {
	    //display: none;
		}
		.main-menu li span{
			//bottom: 10px;
			}

.one-product-menu li.act{
		//background: #f42121;
	}

.logo{
	//margin-bottom: 8px;
	}
.social{
	//width: 220px;
	}
.banners-inner ul li span.arrow-up, .banners-inner ul li span.shadow{
	display: none !important;
	}
.banners-inner ul li:hover span.arrow-up, .banners-inner ul li:hover span.shadow{
	display: block !important;
	}
.prod-example-img, .shop-equip-img, .small-img div, .selection-tooltip div{
	//display: block;
	//position: relative;
	}
	.prod-example-img a, .shop-equip-img a, .small-img div a, .selection-tooltip div span{
		//display: block;
		//position: absolute;
		//top: 50%;
		//left: 50%;
		}
		.prod-example-img a img, .shop-equip-img a img, .small-img div a img, .selection-tooltip div span img{
			//display: block;
			//position: relative;
			//top: -50%;
			//left: -50%;
			}
.menu-block h4{
	//position: relative;
	}
	.menu-block h4 .menu-arrow{
		//position: absolute;
		//right: 10px;
		//top: 10px;
		}

.features th{
	//width: 115px;
	}

.image-box{
	//display: block;
	//float: left;
	//margin: 0 3px 30px 0;
	}

.cities li{
	//display: block;
	//float: left;
	//min-height: 80px;
	}
.prod-example{
	//display: block;
	//float: left;
	//min-height: 300px;
	}
.reserv thead td{
	//padding: 10px 0 10px 18px;
	}
.tabs li{
	//display: block;
	//float: left;
	//padding-bottom: 1px;
	}
.basket-block{
	border-color: #d3cbcb;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	}
.selection-list li{
	//white-space: nowrap;
	//padding: 0 242px 0 0;
	}
	.selection-list li .selection-tooltip{
		//white-space: normal;
		}

.info-table th{
	//width: 240px;
	}
input.grey-inp{
	line-height: 2;
	}
.create-steps ul li{
	//display: block;
	//overflow: hidden;
	}
span.alignment{
	//display: block;
	//min-width: 90px;
	//position: relative;
	}
	span.for-ie{
		//display: block;
		//position: absolute;
		//top: 50%;
		//left: 50%;
		}
		span.for-ie2{
			//display: block;
			//position: relative;
			//top: -50%;
			//left: -50%;
			}

.contact-info-edit th{
	//width: 164px;
	}